In [3]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
# Load the data
file_path = r"../DataCleaning/Instat_DataCleaning/GamesCleaned.xlsx"
data = pd.read_excel(file_path)

# Display the first few rows of the data
data.head()

,Date,Opponent,Goals,Penalties,Penalties drawn,Faceoffs,Faceoffs won,"Faceoffs won, %",Hits,Faceoffs in DZ,...,OZ possession_minutes,OZ possession_seconds,NZ possession_minutes,NZ possession_seconds,DZ possession_minutes,DZ possession_seconds,isOpponent,isAway,Outcome,OpponentScore
0,2025-02-22,Neumann Knights,3,5,4,40,22,0.55,3,13,...,11,3,4,28,5,54,False,True,Win,2
1,2025-02-22,Hood,0,4,5,40,18,0.45,4,15,...,5,31,3,45,7,0,True,False,Loss,4
2,2025-02-21,Wilkes Colonels,1,1,2,56,23,0.41,0,30,...,2,29,3,7,9,50,False,False,Loss,7
3,2025-02-21,Hood,6,2,1,56,33,0.59,1,8,...,19,54,5,12,7,4,True,True,Win,1
4,2025-02-14,Arcadia University Knights,1,3,3,40,17,0.43,0,24,...,3,42,3,50,10,1,False,False,Loss,4

In [ ]:
data = data[(data['Type'] == 'Total') & (~data['isOpponent'])]
data.head()

,Date,Opponent,Penalties,Penalties drawn,Faceoffs,Faceoffs won,"Faceoffs won, %",Hits,Faceoffs in DZ,Faceoffs won in DZ,...,OZ possession_minutes,OZ possession_seconds,NZ possession_minutes,NZ possession_seconds,DZ possession_minutes,DZ possession_seconds,isOpponent,isAway,Outcome,OpponentScore
144,2025-02-22,Neumann Knights,6,4,61,32,0.52,3,29,11,...,14,41,5,17,7,16,False,True,Win,2
146,2025-02-21,Wilkes Colonels,3,2,64,26,0.41,0,32,14,...,3,24,3,24,10,31,False,False,Loss,7
148,2025-02-14,Arcadia University Knights,4,4,52,22,0.42,0,31,11,...,5,25,4,40,11,48,False,False,Loss,4
150,2025-02-08,Alvernia Wolves,7,3,46,21,0.46,2,23,9,...,5,14,4,3,7,18,False,True,Loss,4
152,2025-02-07,Stevenson Mustangs,2,4,51,26,0.51,1,16,6,...,12,3,4,24,8,52,False,False,Loss,7

In [ ]:
data['Outcome'] = data['Outcome'].replace({'Win': 1, 'Loss': 0})
data.head()

C:\Users\03dng\AppData\Local\Temp\ipykernel_50484\3815304869.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtered_data['Outcome'] = filtered_data['Outcome'].replace({'Win': 1, 'Loss': 0})
C:\Users\03dng\AppData\Local\Temp\ipykernel_50484\3815304869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Outcome'] = filtered_data['Outcome'].replace({'Win': 1, 'Loss': 0})

,Date,Opponent,Penalties,Penalties drawn,Faceoffs,Faceoffs won,"Faceoffs won, %",Hits,Faceoffs in DZ,Faceoffs won in DZ,...,OZ possession_minutes,OZ possession_seconds,NZ possession_minutes,NZ possession_seconds,DZ possession_minutes,DZ possession_seconds,isOpponent,isAway,Outcome,OpponentScore
144,2025-02-22,Neumann Knights,6,4,61,32,0.52,3,29,11,...,14,41,5,17,7,16,False,True,1,2
146,2025-02-21,Wilkes Colonels,3,2,64,26,0.41,0,32,14,...,3,24,3,24,10,31,False,False,0,7
148,2025-02-14,Arcadia University Knights,4,4,52,22,0.42,0,31,11,...,5,25,4,40,11,48,False,False,0,4
150,2025-02-08,Alvernia Wolves,7,3,46,21,0.46,2,23,9,...,5,14,4,3,7,18,False,True,0,4
152,2025-02-07,Stevenson Mustangs,2,4,51,26,0.51,1,16,6,...,12,3,4,24,8,52,False,False,0,7

In [ ]:
data = data.drop(columns=['Goals', 'Date', 'isOpponent', 'OpponentScore'], errors='ignore')